<ion-view view-title="Tutorial">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">

      <button class="button button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">
        Previous Slide
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-clear no-animation" ng-click="next()" ng-show="slideIndex != 2">
        Next
      </button>
      <button class="button button-clear no-animation"
              ng-click="quitTutorial()" ng-show="slideIndex == 2">
        Quit Tutorial
      </button>

    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-slide-box class="has-header" on-slide-changed="slideChanged(index)">

    <ion-slide>

      <h3>Thank you for helping to test the game beacon app for Destiny!</h3>
      <p>The app is designed to help you find a group of like-minded guardians for raids, crucible action or general missions, all from your mobile device.</p>

      <div class="logo-wrapper">
        <img class="logo" ng-src="/img/hex-logo192w.png">
      </div>

      <p>The app is still in it's Alpha phase.</p>
      <p>This means you will find bugs. Please tell us about them using the feedback form!</p>

    </ion-slide>

    <ion-slide>

      <h3>Getting Started</h3>

        <p>To get started, you'll need to ether create a Beacon or join someone elses.</p>
        <p>The action button in the bottom right of the screen will help you do this.</p>

        <div class="">
          <img class="" ng-src="/img/action-button.png">
        </div>


    </ion-slide>

    <ion-slide>

      <h3>Beacon List</h3>
      <p>Each Beacon in the list features a set of icons to give you a quick heads up about the type of game people want to play.</p>

      <div class="">
        <img class="" ng-src="/img/beacon-card.png">
      </div>

      <p>In the beacon card above you'll see the region, platform, level, number of Guardians still needed and whether a mic is required.</p>
      <p>As more Guardians join a beacon, the number of Guardians will reduce until no-one else can join.</p>
      <p>Beacons auto-expire after 30 minutes.</p>

    </ion-slide>

    <ion-slide>

      <h3>Beacon Detail</h3>
      <p>When you click through to view a Beacon, you'll be able to join the Beacon and chat about the game you're about to play.</p>

      <div class="">
        <img class="" ng-src="/img/beacon-detail.png">
      </div>

      <p>You can only join one Beacon or create one Beacon of your own at any given time.</p>
      <p>If you created the Beacon, you have the power to delete it or to kick Guardians from the Beacon (click their user name to see the action menu).</p>

    </ion-slide>

    <ion-slide>

      <h3>That's It!</h3>
      <p>That's really all there is to it. Go create a Beacon!</p>

    </ion-slide>

  </ion-slide-box>
</ion-view>
