<ion-view name="about" title="Donate to Help">
		<ion-nav-bar align-title="right" class="bar-positive nav-title-slide-ios7">
				<ion-nav-back-button class="button-clear"><i class="icon ion-arrow-left-b"></i></ion-nav-back-button>
		</ion-nav-bar>
		<ion-content scroll="true">
				<div class="row">
						<div class="col">
								<h1 class="text-center">Thanks!</h1>
								<p>Your continued support of this app is important to it's future.</p>
								<p>Any donation of any size is a huge help towards keeping this app free to use and advert free. Donate once. Donate every month. Don't donate at all. The choice is yours and we won't nag you :)</p>
								<p>If you can't donate, give us some feedback on features you'd like to see by <a href="mailto:gamebeacon@slashwhatever.com?Subject=App%20Feedback" target="_top">emailing us</a></p>
								<div style="display:inline; text-align: center;padding: 8px 0;">
										<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="SR76CVTU6BF7U">
												<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
												<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
										</form>
								</div>
						</div>
				</div>
		</ion-content>
</ion-view>
