# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
gamebeacon.sublime-project
gamebeacon.sublime-workspace
npm-debug.log
build_center/android-release-unsigned.apk
build_center/gamebeacon.apk
