<div>
	<div ng-class="{'fireteam-leader' : beacon.creator.objectId == guardian.objectId}" ng-repeat="guardian in beacon.fireteamOnboard track by guardian.objectId" class="row row-center beacon-fireteam fireteam-member">
		<div class="col fireteam-member-name-wrapper">
			<span class="fireteam-member-name">{{ ::guardian.gamertag | limitTo : 20}}</span>
		</div>
		<div class="col col-50 fireteam-actions">
			<button ng-class="getFollowBtnCls(guardian.objectId)" class="button button-block button-small pull-right" ng-click="toggleFollow({objectId: guardian.objectId})">{{ getBtnLbl(guardian.objectId) }}</button>
			<button ng-class="{'hide' : scope.beacon.userIsCreator || beacon.creator.objectId == guardian.objectId}" class="button button-assertive button-small ion-eject pull-right" ng-click="guardianAction({beacon:beacon, objectId: guardian.objectId})"></button>
		</div>
	</div>
</div>
