<div class="row">
	<div class="col">

		<!-- admins can kick everyone but themselves -->
		<button ng-repeat="guardian in fireteam" ng-class="{'fireteam-leader' : beacon.creator.objectId == guardian.objectId}" class="fireteam-button animate-repeat button-block" ng-click="guardianAction({beacon:beacon, objectId: guardian.objectId})" ng-disabled="!beacon.userIsCreator || (beacon.creator.objectId == guardian.objectId)">
			<span>{{ guardian.gamertag | limitTo : 10}}</span>
		</button>

	</div>

</div>
