<div>
	<div ng-repeat="message in messages | orderBy: '-createdAt'">
		<div class="row">
			<div class="col-80" ng-class="{'col-offset-20' : message.from.objectId == currentUser.puserId }">
				<div class="message-timestamp" ng-class="{'your-msg-timestamp': message.from.objectId == currentUser.puserId, 'their-msg-timestamp': message.from.objectId != currentUser.puserId}">
					<span am-time-ago="message.createdAt"></span>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-80" ng-class="{'col-offset-20' : message.from.objectId == currentUser.puserId }">
				<div class="message" ng-class="{'your-msg': message.from.objectId == currentUser.puserId, 'their-msg': message.from.objectId != currentUser.puserId, 'owner-msg': message.from.objectId == beacon.creator.objectId}">
					<div class="message-left message-icon" ng-if="message.from.objectId != currentUser.puserId" ng-class="{'ion-ios-chatbubble' : message.from.objectId == beacon.creator.objectId, 'ion-ios-chatbubble-outline' : message.from.objectId != beacon.creator.objectId}"></div>
					<div class="message-body"><span class="message-username">{{message.from.gamertag}}:</span> {{message.message}}</div>
					<div class="message-right message-icon" ng-if="message.from.objectId == currentUser.puserId" ng-class="{'ion-ios-chatbubble' : message.from.objectId == beacon.creator.objectId, 'ion-ios-chatbubble-outline' : message.from.objectId != beacon.creator.objectId}"></div>
				</div>
			</div>

		</div>
	</div>

</div>
