<ion-view name="about" title="About Destiny Buddy">

  <ion-nav-bar align-title="right" class="bar-positive nav-title-slide-ios7">
    <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
  </ion-nav-bar>

<ion-content scroll="true">

<div class="row">
    <div class="col">
<h1 class="text-center">gamebeacon for Destiny is currently in Alpha!</h1>
<p>This means you <b>will</b> find bugs. When you spot anything unusual or if just have some feedback about your experience with the app, please <a href="mailto:gamebeacon@slashwhatever.com?Subject=App%20Feedback" target="_top">email us.</a></p>
<p>We are monitoring how the app is used but nothing beats good old fashioned user feedback. Just try keep it constructive :)</p>

<h1 class="text-center">FAQ</h1>
<ol>
<li><p>Q: Is the app free?</p></li>
<li><p>A: Yes. It will remain free as long as we can afford the server costs :)</p></li>
<li><p>Q: How can you afford to have a free app?</p></li>
<li><p>A: We can't. There's a donate button at the bottom of this page and in the action menu. If you find the app useful and want to support the ongoing development costs, please consider donating a few beans.</p></li>
<li><p>Q: Is there a benefit to donating?</p></li>
<li><p>A: not right now. You just get that warm fuzzy feeling knowing you helped keep something alive for the greater good. We may build in donator-only features later, depending on feedback and we may ask donators if they'd like their name features in a special "Credits" page at a later date.</p></li>
<li><p>Q: Are you going to sell my data to pay the bills?</p></li>
<li><p>A: No. We hate spam as much as you. We will never give, sell or otherwise pass your data to anyone else. Ever.</p></li>
<li><p>Q: So why do you need my email address?</p></li>
<li><p>A: Email verification helps keep the app secure. It also means if we need to contact you about an issue with the app, we have a way of doing so.</p></li>
<li><p>Q: Will there be a version for iOS?</p></li>
<li><p>A: We hope so. Development costs time and money. We're working on it but we need your help to develop the app further.</p></li>
<li><p>Q: Is the app finished?</p></li>
<li><p>A: Hell no! We've got a ton of extra features on the road map and will look to enable them as soon as we can. You can also influence the future of the app by <a href="mailto:gamebeacon@slashwhatever.com?Subject=App%20Feedback" target="_top">emailing us</a> and suggesting features you'd like to see.</p></li>
</ol>
    </div>
</div>


</ion-content>

<ion-footer-bar style="display:inline; text-align: center;padding: 8px 0;">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="SR76CVTU6BF7U">
  <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form>
</ion-footer-bar>

</ion-view>
