@font-face {
    font-family: 'SofiaProLight';
    src: url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.eot');
    src: url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.woff2') format('woff2'),
         url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.woff') format('woff'),
         url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.ttf') format('truetype'),
         url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ExoBold';
    src: url('../fonts/Exo/Exo-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dorsa';
    src: url('../fonts/Dorsa/Dorsa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SixCaps';
    src: url('../fonts/Six_Caps/SixCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
