/******************** fonts ********************/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3;
}

h1, .h1 {
	font-family: $core-font-family;
}

.backdrop {
	background-color: rgba(39, 47, 54, 0.6);
}

.popup-container .popup {
    background-color: lighten($dark-blue, 10%);
}
/******************** grids ********************/

.col-right {
  text-align: right;
}

/******************** form ********************/
.input-label {
	color: $grey;
}

.item-select select {
	background-color: transparent;
}
/******************** pane ********************/
.pane {
    background-color: $dark-blue;
}
/******************** card ********************/

.card {
    background-color: $dark-grey;
}
/******************** item ********************/

.item {
    background-color: $dark-grey;
    border-color: transparent;
    color: $light-grey;
}
.item p {
    color: $light-grey;
}
.item .item-purple {
    color: $purple;
}
.item .item-green {
    color: $green;
}
.item .item-blue {
    color: $blue;
}

/******************** controls ********************/
input, button, select, textarea {
    font-family: $core-font-family
}

button {
	font-weight: 700;
}
.item-input {
	background-color: $blue-grey;
}
/******************** material float button ********************/
.mfb-component__list>li {
  right: 10px;
}

.mfb-component__button--child {
  height: 36px;
  width: 36px;
}

.mfb-component__child-icon {
  line-height: 36px;
}

$button-gap-multiplier : 60px;

.mfb-component--tl.mfb-zoomin .mfb-component__list li,.mfb-component--tr.mfb-zoomin .mfb-component__list li {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(1),.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(1) {
    -webkit-transform: translateY($button-gap-multiplier) scale(0);
    transform: translateY($button-gap-multiplier) scale(0);
    transition: all .2s;
    transition-delay: .2s
}

.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(2),.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(2) {
    -webkit-transform: translateY($button-gap-multiplier * 2) scale(0);
    transform: translateY($button-gap-multiplier * 2) scale(0);
    transition: all .2s;
    transition-delay: .15s
}

.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(3),.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(3) {
    -webkit-transform: translateY($button-gap-multiplier * 3) scale(0);
    transform: translateY($button-gap-multiplier * 3) scale(0);
    transition: all .2s;
    transition-delay: .1s
}

.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(4),.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(4) {
    -webkit-transform: translateY($button-gap-multiplier * 4) scale(0);
    transform: translateY($button-gap-multiplier * 4) scale(0);
    transition: all .2s;
    transition-delay: .05s
}
.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(5),.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(5) {
    -webkit-transform: translateY($button-gap-multiplier * 5) scale(0);
    transform: translateY($button-gap-multiplier * 5) scale(0);
    transition: all .2s;
    transition-delay: 0s
}

.mfb-component--tl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(1),.mfb-component--tl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(1),.mfb-component--tr.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(1),.mfb-component--tr.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(1) {
    -webkit-transform: translateY($button-gap-multiplier) scale(1);
    transform: translateY($button-gap-multiplier) scale(1);
    transition-delay: .05s
}

.mfb-component--tl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(2),.mfb-component--tl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(2),.mfb-component--tr.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(2),.mfb-component--tr.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(2) {
    -webkit-transform: translateY($button-gap-multiplier * 2) scale(1);
    transform: translateY($button-gap-multiplier * 2) scale(1);
    transition-delay: .1s
}

.mfb-component--tl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(3),.mfb-component--tl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(3),.mfb-component--tr.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(3),.mfb-component--tr.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(3) {
    -webkit-transform: translateY($button-gap-multiplier * 3) scale(1);
    transform: translateY($button-gap-multiplier * 3) scale(1);
    transition-delay: .15s
}

.mfb-component--tl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(4),.mfb-component--tl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(4),.mfb-component--tr.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(4),.mfb-component--tr.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(4) {
    -webkit-transform: translateY($button-gap-multiplier * 4) scale(1);
    transform: translateY($button-gap-multiplier * 4) scale(1);
    transition-delay: .2s
}

.mfb-component--tl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(5),.mfb-component--tl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(5),.mfb-component--tr.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(5),.mfb-component--tr.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(5) {
    -webkit-transform: translateY($button-gap-multiplier * 5) scale(1);
    transform: translateY($button-gap-multiplier * 5) scale(1);
    transition-delay: .25s
}

.mfb-component--bl.mfb-zoomin .mfb-component__list li,.mfb-component--br.mfb-zoomin .mfb-component__list li {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(1),.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(1) {
    -webkit-transform: translateY($button-gap-multiplier * -1) scale(0);
    transform: translateY($button-gap-multiplier * -1) scale(0);
    transition: all .2s;
    transition-delay: .2s
}

.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(2),.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(2) {
    -webkit-transform: translateY($button-gap-multiplier * -2) scale(0);
    transform: translateY($button-gap-multiplier * -2) scale(0);
    transition: all .2s;
    transition-delay: .15s
}

.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(3),.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(3) {
    -webkit-transform: translateY($button-gap-multiplier * -3) scale(0);
    transform: translateY($button-gap-multiplier * -3) scale(0);
    transition: all .2s;
    transition-delay: .1s
}

.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(4),.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(4) {
    -webkit-transform: translateY($button-gap-multiplier * -4) scale(0);
    transform: translateY($button-gap-multiplier * -4) scale(0);
    transition: all .2s;
    transition-delay: .05s
}

.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(5),.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(5) {
    -webkit-transform: translateY($button-gap-multiplier * -5) scale(0);
    transform: translateY($button-gap-multiplier * -5) scale(0);
    transition: all .2s;
    transition-delay: 0s
}

.mfb-component--bl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(1),.mfb-component--bl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(1),.mfb-component--br.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(1),.mfb-component--br.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(1) {
    -webkit-transform: translateY($button-gap-multiplier * -1) scale(1);
    transform: translateY($button-gap-multiplier * -1) scale(1);
    transition-delay: .05s
}

.mfb-component--bl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(2),.mfb-component--bl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(2),.mfb-component--br.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(2),.mfb-component--br.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(2) {
    -webkit-transform: translateY($button-gap-multiplier * -2) scale(1);
    transform: translateY($button-gap-multiplier * -2) scale(1);
    transition-delay: .1s
}

.mfb-component--bl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(3),.mfb-component--bl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(3),.mfb-component--br.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(3),.mfb-component--br.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(3) {
    -webkit-transform: translateY($button-gap-multiplier * -3) scale(1);
    transform: translateY($button-gap-multiplier * -3) scale(1);
    transition-delay: .15s
}

.mfb-component--bl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(4),.mfb-component--bl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(4),.mfb-component--br.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(4),.mfb-component--br.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(4) {
    -webkit-transform: translateY($button-gap-multiplier * -4) scale(1);
    /* transform:translateY(-280px) scale(1); */
    transition-delay: .2s
}

.mfb-component--bl.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(5),.mfb-component--bl.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(5),.mfb-component--br.mfb-zoomin[data-mfb-state=open] .mfb-component__list li:nth-child(5),.mfb-component--br.mfb-zoomin[data-mfb-toggle=hover]:hover .mfb-component__list li:nth-child(5) {
    -webkit-transform: translateY($button-gap-multiplier * -5) scale(1);
    /* transform:translateY(-280px) scale(1); */
    transition-delay: .25s
}

.mfb-component--br .mfb-component__list [data-mfb-label]:after, .mfb-component--br [data-mfb-label]:after, .mfb-component--tr .mfb-component__list [data-mfb-label]:after, .mfb-component--tr [data-mfb-label]:after {
    right : 50px;
}

[data-mfb-label]:after {
    margin-top: -17.5px;
    padding: 8px;
}


.item.item-icon-top * {
  display: block;
  text-align: center;
}

.item-icon-top .icon {
  height: 100%;
  font-size: 32px;
}


.button.button-energized:hover {
    color: #fff;
}
.button.button-energized {
    color: $dark-blue;
}
