$core-font-family       : "SofiaProLight", "Helvetica Neue", Roboto, sans-serif;
$caps-font-family       : "SixCaps", "Helvetica Neue",Roboto,sans-serif;
$modern-font-family     : "ExoBold", "Helvetica Neue",Roboto,sans-serif;

$grey 		    : #E2E7EB;
$mid-grey      : #3B424A;
$dark-grey      : #262A2E;
$light-grey     : #96A6AD;
$purple         : #8091C6;
$green          : #6BB6C4;
$blue           : #5B7FAC;
$pink           : rgb(255, 64, 129);