$core-font-family: "SofiaProLight","Helvetica Neue", Roboto, sans-serif;
$caps-font-family: "SixCaps", "Helvetica Neue", Roboto, sans-serif;
$modern-font-family: "ExoBold", "Helvetica Neue", Roboto, sans-serif;

$white: #fff;
$grey: #E2E7EB;
$light-grey: #96A6AD;
$mid-grey: #3B424A;
$dark-grey: #262A2E;
$blue-grey: #353F49;

$dark-blue: #272F36;
$smoke-blue: #5B7FAC;
$green-blue: #6BB6C4;

// color wheel stuff
$yellow: #FFEC3A;
$green: #5DEA48;
$pink: #FC4482;
$blue: #04C6DE;
$purple: #4E48B5;

$header-bar-height: 30px;

$button-large-icon-size: 20px;
$button-bar-button-height: 20px;
