$core-font-family: "SofiaProLight","Helvetica Neue", Roboto, sans-serif;
$caps-font-family: "SixCaps", "Helvetica Neue", Roboto, sans-serif;
$modern-font-family: "ExoBold", "Helvetica Neue", Roboto, sans-serif;

$black: #000;
$white: #fff;
$grey: #E2E7EB;
$light-grey: #f9f9f9;
$mid-grey: #3B424A;
$dark-grey: #262A2E;
$blue-grey: #353F49;
$red: #8A2524;

$dark-blue: #272F36;
$smoke-blue: #5B7FAC;
$green-blue: #6BB6C4;

// color wheel stuff
$fern-yellow: #E3FE35;
$yellow: #FFE11D;
$green: #5DCB48;
$pink: #FC4482;
$blue: #03A8BD;
$purple: #4E48B5;

$bar-height:                      44px !default;
$bar-title-font-size:             17px !default;
$bar-padding-portrait:            5px !default;
$bar-padding-landscape:           5px !default;
$bar-transparency:                1 !default;

/*
$button-large-icon-size: 20px;
$button-bar-button-height: 20px;
 */

$item-default-active-bg:          $green-blue !default;
$button-light-active-border:      lighten($item-default-active-bg, 20%) !default;
