body {
		font-family: $core-font-family;
		color: $light-grey;
		background-image: -webkit-linear-gradient(137deg, #8FDCDC 0%, #2961C3 50%, #15132A 91%);
		background-image: -o-linear-gradient(137deg, #8FDCDC 0%, #2961C3 50%, #15132A 91%);
		background-image: linear-gradient(137deg, #8FDCDC 0%, #2961C3 50%, #15132A 91%);
}

h1,
h2,
h3 {
		text-transform: none;
}

h1,
.item h1 {
		color: $grey;
}

h2,
.item h2 {
		color: $grey;
}

h3 {
		color: $grey;
}

h2,
h3 {
		font-family: $core-font-family;
}

a {
		color: $grey;
}

.tutorial-screenshot {
		width: 90%;
		border: 1px solid $grey;
}

.app-title {
		font-family: $core-font-family;
		font-size: 50px;
		text-align: center;
		padding-bottom: 20px;
}

.app-byline {
		font-family: $core-font-family;
		font-size: 18px;
		text-align: center;
}

.text-center {
		text-align: center;
}

.text-right {
		text-align: right;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
		color: $grey;
}

.label {
		font-weight: 700;
}

.bar-footer {
		background: $mid-grey;
}

.tab-item {
		color: #fff;
}

.list-inset {
		background-color: $blue-grey;
}


/* Empty. Add your own CSS if you like */

#logo {
		margin: 30px 0px;
}

#list {
		width: 170px;
		margin: 30px auto;
		font-size: 20px;
}

#list ol {
		margin-top: 30px;
}

#list ol li {
		text-align: left;
		list-style: decimal;
		margin: 10px 0px;
}

label.new-message {
		background: transparent;
		border-bottom: 1px solid $grey;
		@include border-radius(0);
}

label.new-message input {
		background: transparent;
		width: 100%;
}


/* This parent can be any width and height */

.slide-wrapper {
		text-align: center;
}


/* The ghost, nudged to maintain perfect centering */

.slide-wrapper:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
		/* Adjusts for spacing */
}

.slider-slide {
		padding-top: 80px;
		color: #fff;
		text-align: center;
		font-family: $core-font-family;
		font-weight: 300;
		background-color: #2A3035;
		box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding: 10px 0;
}

.help-slider {
		position: absolute !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
}

.help-slider.has-header {
		top: 44px;
}

.help-slider .slider-pager {}

.create-beacon-slide {
		font-size: 32px;
		height: 110px;
}

.create-beacon-slide h2 {
		font-size: 24px;
		margin-top: 10px;
}

.gametypes-slide {
		height: 170px;
}

.platforms-slide, .regions-slide, .mic-slide {
	height: 80px;
}

.create-beacon-slide.platforms-slide h2, .create-beacon-slide.regions-slide h2, .create-beacon-slide.mic-slide h2 {
	font-size: 0.5em;
}
.create-beacon-slide.platforms-slide p, .create-beacon-slide.regions-slide p, .create-beacon-slide.mic-slide p {
	font-size: 0.5em;
}

.create-beacon-slide .slide-wrapper {
		height: 100%;
}

.missions-slide,
.gametypes-slide,
.create-beacon-slide {
		@include blue-grad();
}

li.mission-level {
		display: inline;
		border: 1px solid #ddd;
		@include border-radius(5px);
		padding: 10px;
		margin: 0 10px;
		vertical-align: middle;
}


/* The element to be centered, can
also be of any width and height */

.slide-inner {
		display: inline-block;
		vertical-align: middle;
}

.slide-inner h2 {
		margin-bottom: 0;
}

.mission-time {
		color: $green;
}


/*************** icons *******************/

.icon {}

.icon-s {
		height: 50px;
		width: 50px;
}

.icon-m {
		height: 150px;
		width: 150px;
}

.icon-l {
		height: 250px;
		width: 250px;
}

.icon.mission-icon {}


/**************** BOF - taken from bootstrap ****************/

.message {
		margin-top: 15px
}

.message:first-child {
		margin-top: 0
}

.message,
.message-body {
		zoom: 1;
}

.message-object {
		display: block
}

.message-body,
.message-left,
.message-right {
		display: table-cell;
		vertical-align: top
}

.message-body {
		width: 10000px;
		vertical-align: middle;
		padding: 10px 10px;
		@include border-radius(5px 0 0 5px);
		background: $mid-grey;
}

.message-username {
		font-weight: 700;
}

.their-msg .message-body {
		@include border-radius(0 5px 5px 0);
}

.message-timestamp.your-msg-timestamp {
		text-align: right;
}

.message-middle {
		vertical-align: middle
}

.message-bottom {
		vertical-align: bottom
}

.message-heading {
		margin-top: 0;
		margin-bottom: 5px
}

.message-list {
		padding-left: 0;
		list-style: none
}


/**************** EOF - taken from bootstrap ****************/


/***************** beacon cards ****************/

.beacon-card {
		background-color: lighten($dark-blue, 5%);
		overflow: hidden;
		border-top: 1px solid lighten($dark-blue, 10%);
}

.beacon-card.ng-enter {
    -webkit-animation: fadeInUp .4s;
    animation: fadeInUp .4s;
}

.beacon-card.ng-enter-stagger {
  -webkit-animation-delay:.1s;
  animation-delay:.1s;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.beacon-card .item-content {
	padding: 16px;
}

.beacon-card:first-of-type {
		border-top-color: transparent;
}

.beacon-card.my-beacon:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		border-color: transparent transparent transparent $yellow;
		border-style: solid;
		border-width: 0 0 15px 15px;
		z-index: 3;

}

.beacon-footer {
	background-color: lighten($dark-blue, 8%);
}
.beacon-list-empty {
		text-align: center;
}

.item .mission-name {
		font-family: "ExoBold", "SofiaProLight", "Helvetica Neue", Roboto, sans-serif;
		font-size: 20px;
}

.beacon-timer {
		position: relative;
		white-space: nowrap;
		vertical-align: middle;
		text-align: right;
}

.timer-icon {
		font-size: 130px;
		opacity: 0.1;
		position: absolute;
		top: -62px;
		right: -29px;
		transform: rotate(571deg) scaleX(-1);
}

.beacon-countdown {
		margin-top: 8px;
		font-size: 20px;
		font-family: "SofiaProLight", "Helvetica Neue", Roboto, sans-serif;
		color: $white;
}

.beacon-countdown:before {
	margin-right: 10px;
}

.beacon-countdown .ion-clock {
	margin-left: 10px;
	vertical-align: baseline;
}

.mission-time {
		position: absolute;
		top: 16px;
		right: 16px;
		max-width: 40px;
		max-height: 40px;
		width: 100%;
		height: 100%;
		@include border-radius(50px);
}

button.fireteam-button {
		@include border-radius(20px);
		font-size: 20px;
		z-index: 9999;
		border: 2px solid lighten($dark-blue,30%);
		font-family: $core-font-family;
		vertical-align: middle;
		color: $grey;
		background-color: transparent;
		text-transform: lowercase;
		padding: 5px;
		margin-bottom: 10px;
}

button.fireteam-leader {
		background: lighten($dark-blue,20%);
		color: $grey;
}

button.join-fireteam-button {
		border: 1px dashed $light-grey;
		background: transparent;
		width: auto;
		padding: 0 10px;
}


/* chat window  */

div.message {
		position: relative;
		@include border-radius(5px);
}


/*
div.message:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 11px;
    border-width: 10px 20px 0px 0px;
    border-style: solid;
    border-color: #1A1D21 transparent;
    display: block;
    width: 0;
}
div.message:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 13px;
    border-width: 10px 20px 0px 0px;
    border-style: solid;
    border-color: $grey transparent;
    display: block;
    width: 0;
    z-index: 9;
}
div.message.your-msg:before {
    left: auto;
    right: 20px;
    border-width: 10px 0px 0px 20px;
    border-color: #262A2E;
}
div.message.your-msg:after {
    left: auto;
    right: 20px;
    border-width: 10px 0px 0px 20px;
    border-color: $pink;

}
*/


/*
.message-body {
	margin-left: 10px;
	display: inline-block;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
*/

.message-icon {
		box-shadow: inset 45px 0 0 #E2E7ED;
		@include border-radius(5px 0 0 5px);
		height: 100%;
		vertical-align: middle;
}

.message-icon:before {
		font-size: 28px;
		padding: 7px 10px;
		color: $mid-grey;
}

.message-right.message-icon {
		@include border-radius(0 5px 5px 0);
		box-shadow: inset 45px 0 0 $pink;
}


/* beacon detail */

ion-view[name=beacon-detail] .bar-subheader {
		height: auto;
		background: transparent;
		margin: 0;
		padding: 0;
		border-color: transparent;
}

ion-view[name=beacon-detail] .bar-subheader .list:last-child.card {
		margin-bottom: 0;
}

ion-view[name=beacon-detail] .has-subheader {
		top: 200px;
}


/****************** FLOAT BUTTON *************************/

.float-button-wrapper {
		position: fixed;
		bottom: 20px;
		right: 20px;
}

.float-button {
		@include border-radius(50px);
		padding: 28px;
		font-size: 24px;
		background-color: $pink;
		z-index: 9999;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.float-button .height_fix {
		margin-top: 100%;
}

.float-button .content {
		position: absolute;
		left: 0;
		top: 50%;
		height: 100%;
		width: 100%;
		text-align: center;
		margin-top: -12px;
		/* Note, this must be half the font size */
		color: $grey;
}


/************* slidebox beacon create *****************/

.byline {
		color: $grey;
		font-size: 18px;
		text-transform: lowercase;
		margin-top: 5px;
}


/************* Logo *************/

.logo-wrapper {
		text-align: center;
		width: 100%;
		padding: 50px 50px 10px;
}

.logo-wrapper img {
	width: 270px;
}

/************ alignment tweaks ******************/




/**************** beacon detail ************/

.fireteamOnboard {
		background-color: #ccc;
		@include border-radius(10px);
		display: inline-block;
		vertical-align: middle;
		padding: 10px;
		width: 100%;
		text-align: center;
}

.fireteamOnboard.team-leader {
		background-color: pink;
}


/****************** platform ****************/

.platform-icon,
.mic-icon {
		font-size: 20px;
}


/*
.ion-playstation.ps3 {color: blue}
.ion-playstation.ps4 {color: yellow}
.ion-xbox.one {color: green}
.ion-xbox.360 {color: white}
*/


/**************** meta blocks *******************/

.beacon-meta {
    position: relative;
	  margin-top: 10px;
}
.profile-meta {
    text-align: center;
}
.meta-details {
		border: 2px solid lighten($dark-blue,30%);
		color: $grey;
		display: inline-block;
		@include border-radius(20px);
		padding: 3px 7px;
		background-color: transparent;
		vertical-align: middle;
		font-family: $core-font-family;
		font-size: 14px;
		position: relative;
}

.meta-details:after {
    content: '';
    border-top: 2px solid lighten($dark-blue, 30%);
    width: 5px;
    height: 2px;
    position: absolute;
    top: 12px;
    right: -6px;
}

.meta-details:last-child:after {
	border-top-color: transparent;
}
.meta-details h3 {
		display: inline-block;
}

.meta-details i,
.meta-details span.ion-icon {
		display: inline-block;
		vertical-align: baseline;
}

.meta-details span.ion-icon:before {
		margin-right: 5px;
}

.text-lower {
		text-transform: lowercase;
}

.meta-details.small {
		font-size: 0.9em;
}

.meta-details.no-spaces {
		background-color: $pink;
}


/* beacon details tabs */

ul.nav.nav-tabs {
		@include flexbox-container();
}

ul.nav.nav-tabs li {
		text-align: center;
		color: white;
		border-bottom: 2px solid darken($positive, 20%);
		margin: 0 5px;
		@include flexbox-child();
		padding: 10px;
}

ul.nav.nav-tabs li a {
		text-decoration: none;
		color: $light-grey;
		display: block;
		width: 100%;
}

ul.nav.nav-tabs li.active {
		border-bottom-color: $positive;
}

ul.nav.nav-tabs li.active a {
		color: white;
}


/* profile pic */

.ion-profile-picture, .dummy-profile-picture {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		width: 8rem;
		height: 8rem;
		margin: 0.5rem auto 1rem auto;
		background-color: #F8F8F8;
		text-align: center;
		color: #ccc;
		position: relative;
		background-position: center center;
		background-size: auto 100%;
}

.ion-profile-picture.no-picture:before, .dummy-profile-picture.no-picture:before,  {
		content: "\f118";
		font-family: "Ionicons";
		font-size: 3rem;
		line-height: 8rem;
		text-align: center;
}

.ion-profile-picture input[type=file] {
		display: none;
}


/* form validation */

form i.icon.error {
		color: $pink;
}

form input + i.icon.error,
form select + i.icon.error {
		display: none;
		margin-left: 8px;
}

form.ng-submitted input.ng-invalid + i.icon.error,
form.ng-submitted select.ng-invalid + i.icon.error {
		display: block;
}

form .has-error {
		border-left: 5px solid #cc2511;
}

form .has-success {
		border-left: 5px solid #3d8b3d;
}

form.ng-submitted input.ng-valid + i.icon.error,
form.ng-submitted select.ng-valid + i.icon.error {
		display: none;
}

.item-input .icon {
		min-width: 24px;
}


/* scheduler */

.scheduler-container {
		@include blue-grad();
		position: relative;
		height: 170px;
		background-color: #2A3035;
		box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.1);
}

.scheduler-byline {
		padding-top: 27px;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
}

.swiper-date.swiper-container {
		text-align: right;
}

.scheduler-container h2.time-separator {
		margin-top: 27px;
}

.swiper-container.swiper-calendar {
	font-size: 14px;
	color:$dark-blue;
	height: 35px;
	@include fade-grad-horizontal();
}
.swiper-container.swiper-calendar .swiper-slide{
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;

}

.swiper-calendar.swiper-container:before {
    content: '';
    height: 8px;
    width: 8px;
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    background-color: $pink;
    border-radius: 100%;
    margin: 0 auto;
}

.swiper-calendar.swiper-container .swiper-slide span:before {
	content: '';
	height: 10px;
	width: 10px;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	border: 2px solid $dark-blue;
	border-radius: 100%;
	margin: 0 auto;
}


.swiper-container.swiper-date, .swiper-container.swiper-time-hours, .swiper-container.swiper-time-mins {
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	height: 80px;
	@include fade-grad();
}

.swiper-slide h2 {
	margin-bottom: 0;

}
/**************** loading ****************/

.loading-container .loading {
	padding: 20px;
	background-color: lighten($dark-blue, 10%);
	color: #fff;
	text-align: right;
	text-overflow: ellipsis;
	font-size: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid $red;
	border-radius: 0;
}
.loading-spinner {
	color: $light-grey;
}
.loading-spinner .spinner{
	position: absolute;
	top: 15px;
	right: 15px;
}
.loading-spinner span {
	margin-right: 30px;

}

/**************** chat ****************/
.message-form{
	width: 100%;
}