<div class="row">
  <div class="col">
    <div class="meta-details">
      <i class="icon ion-icon ion-earth"></i>
      <span class="meta-label">{{ beacon.region.name }}</span>
    </div>
    <div class="meta-details">
      <i class="icon ion-icon {{beacon.platform.icon}}"></i>
      <span class="meta-label">{{ beacon.platform.shortName }}</span>
    </div>
    <div ng-if="beacon.level" class="meta-details beacon-level">
      <i class="icon ion-icon ion-ribbon-b"></i>
      <span class="meta-label">{{ beacon.level.value }}</span>
    </div>
    <div class="meta-details spaces-left" ng-class="{'no-spaces' : beacon.fireteamSpaces == 0}">
      <i class="icon ion-icon ion-person-stalker"></i>
      <span class="meta-label">{{ beacon.fireteamSpaces }}</span>
    </div>
    <div class="meta-details">
      <i ng-class="{'ion-volume-high': beacon.mic.description == 'Mic required', 'ion-volume-mute': beacon.mic.description != 'Mic required'}" class="icon ion-icon"></i>
    </div>
  </div>
</div>