<div class="row">

  <div class="col" ng-show="allowDelete">
    <button class="button button-block button-outline button-assertive" ng-click="deleteBeacon( beacon )">
      <i class="icon ion-android-delete"></i> Delete
    </button>
  </div>

  <div class="col" ng-show="allowJoin" >
    <button class="button button-block button-outline button-balanced" ng-click="joinBeacon( beacon )">
      <i class="icon ion-checkmark"></i> Join
    </button>
  </div>

  <div class="col" ng-show="allowLeave" >
    <button class="button button-block button-outline button-energized" ng-click="leaveBeacon( beacon )">
      <i class="icon ion-close"></i> Leave
    </button>
  </div>

  <div class="col" ng-show="allowView">
    <button class="button button-block button-outline button-calm" ui-sref="app.beacon({beaconId: beacon.objectId})">
      <i class="icon ion-eye"></i> View
    </button>
  </div>

</div>
