<ion-view name="beacon-list" title="Dashboard" cache-view="false">
	<ion-nav-bar align-title="right" class="bar-positive nav-title-slide-ios7">
		<ion-nav-back-button class="button-clear"><i class="icon ion-arrow-left-b"></i></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content scroll="true">
		<ion-refresher pulling-text="pull to refresh" pulling-icon="ion-android-arrow-down" on-refresh="refreshBeaconList()">
			<ion-spinner icon="crescent"></ion-spinner>
		</ion-refresher>
		<!-- 		<div class="dummy-profile-picture"><img src="{{currentUser.picture}}" alt=""></div>
 -->
		<div class="row">
			<div class="col col-33 col-offset-33 text-center">
				<h2 class="username">{{ currentUser.username }}</h2>
<!-- 				<p class="meta-detail small lower">Joined: {{ currentUser.buddySince.iso | amCalendar }}</p>
 -->
 			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item item-icon-top l">
					<i class="icon ion-ios-game-controller-a"></i>
					<h3>{{ currentUser.gamertag }}</h3>
				</div>
			</div>
			<div class="col">
				<div class="item item-icon-top l">
					<i class="icon {{currentUser.platform.icon}}"></i>
					<h3>{{ currentUser.platform.shortName }}</h3>
				</div>
			</div>
			<div class="col">
				<div class="item item-icon-top l">
					<i class="icon ion-ios-world"></i>
					<h3>{{ currentUser.region.name }}</h3>
				</div>
			</div>
		</div>
		<ion-list type="card" show-delete="false" show-reorder="false" can-swipe="true">
			<ion-item class="beacon-card" ui-sref="app.beacon({beaconId: beacon.objectId})" ng-class="{'my-beacon' : beacon.userIsCreator }" ng-repeat="beacon in beacons track by beacon.objectId">
				<beacon-header></beacon-header>
				<beacon-meta></beacon-meta>
				<!-- <beacon-actions></beacon-actions> -->
				<beacon-timer ng-if="beacon.active" beacon="beacon"></beacon-timer>
				<ion-option-button ng-show="beacon.userIsCreator" class="button-assertive"><i class="icon ion-android-remove-circle"></i>Delete</ion-option-button>
			</ion-item>
		</ion-list>
		<!-- no beacons -->
		<div ng-show="beacons.length == 0" class="row">
			<div class="col col-80 col-offset-10">
				<div class="beacon-list-empty padding">
					<h1>No beacons!</h1>
					<p ui-sref="beacon-create">You have no beacons right now - tap here to create one</p>
				</div>
			</div>
		</div>
		<ion-infinite-scroll ng-if="moreBeacons" on-infinite="getBeaconChunk()"></ion-infinite-scroll>
	</ion-content>
</ion-view>
