<ion-view name="reset-password" title="Reset Password">
    <ion-nav-bar align-title="right" class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="true">
        <h3 class="text-center padding">Reset Password</h3>
        <form name="resetForm" on-valid-submit="requestPasswordReset(resetForm)" novalidate>
            <div class="list list-inset">
                <p class="text-center">We will send an email with reset instructions if your email address is registered</p>
                <label class="item item-input">
                    <input ng-model-options="{ updateOn: 'blur' }" type="email" ng-class="{'error': form.email.$error.required || form.email.$error.email}" placeholder="Email" name="email" ng-model="user.email" autocomplete="off" required="required">
                     <i class="icon ion-alert-circled error"></i>
                </label>
            </div>
            <div class="row">
              <div class="col col-50 col-offset-25">
                <button class="button button-block button-assertive">Reset Password</button>
              </div>
            </div>
        </form>
    </ion-content>
</ion-view>
