<ion-view name="beacon-detail" title="Beacon Details" cache-view="false">

  <ion-nav-bar align-title="right" class="bar-positive nav-title-slide-ios7">
    <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
  </ion-nav-bar>

<ion-content scroll="true">

    <!-- beacon card -->
    <div class="beacon-card">

        <beacon-header></beacon-header>
        <beacon-meta></beacon-meta>
        <beacon-actions></beacon-actions>

    </div>

    <tabset>
      <tab heading="Chat">
        <beacon-chat class="beacon-chat"></beacon-chat>
      </tab>
      <tab heading="Fireteam">
	      <fireteam-members ng-hide="myBeacon" action="guardianAction( beacon )" fireteam="beacon.fireteamOnboard" beacon="beacon"></fireteam-members>
      </tab>
    </tabset>

  </div>

</ion-content>

<ion-footer-bar style="display:inline">
  <form ng-submit="sendMessage()" class="message-form">
    <label class="new-message item-input-wrapper">
      <input ng-model="newMessage" class="input-message" type="text" placeholder="Message">
    </label>
  </form>
</ion-footer-bar>

</ion-view>
