<ion-view name="user-profile" title="User Profile">
	<ion-nav-bar align-title="right" class="bar-positive nav-title-slide-ios7">
		<ion-nav-back-button class="button-clear"><i class="icon ion-arrow-left-b"></i></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content scroll="true">
		<form name="profileForm" ng-submit="updateProfile(profileForm)">
			<div class="padding">
				<beacon-profile-picture ng-model="profile.picture.url" />
			</div>
			<div class="list list-inset">
				<label class="item item-input">
			    <span class="input-label">Gamertag</span>
					<input type="text" class="text-right" name="gamertag" ng-model="profile.gamertag" required autocomplete="off">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Platform
					</div>
					<select ng-model="profile.platform.objectId" ng-options="platform.objectId as platform.name for platform in platforms"></select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Region
					</div>
					<select ng-model="profile.region.objectId" ng-options="region.objectId as region.name for region in regions"></select>
				</label>
				<label class="item item-toggle">
					<div class="input-label">
						Mic
					</div>
					<label class="toggle toggle-positive">
						<input type="checkbox" ng-model="profile.mic">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</label>
				<div class="padding">
					<button class="button button-block button-positive">Update</button>
				</div>
			</div>
		</form>
		<div class="list list-inset">
			<p class="text-center padding">Password reset will send you an email to your registered email address</p>
			<div class="row">
				<div class="col col-50 col-offset-25">
					<button class="button button-block button-outline button-assertive" ng-click="requestPasswordReset(profile)">Reset Password</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
