<ion-view name="beacon-list" title="Active Beacons" cache-view="false">
	<ion-nav-bar align-title="right" class="bar nav-title-slide-ios7">
	</ion-nav-bar>
	<ion-header-bar class="bar bar-subheader">
		<list-calendar></list-calendar>
	</ion-header-bar>
	<ion-content class="has-subheader" scroll="true">
		<ion-refresher class="spinner-energized" pulling-text="pull to refresh" pulling-icon="ion-android-arrow-down" spinner="none" on-refresh="refreshBeaconList()"></ion-refresher>

		<beacon-card-list beacons="beacons"></beacon-card-list>

		<!-- no beacons -->
		<div ng-if="noBeacons" class="row" ng-cloak>
			<div class="col col-80 col-offset-10">
				<div class="beacon-list-empty padding">
					<h1>No beacons!</h1>
					<p ui-sref="beacon-create">There are no beacons right now - tap here to create one</p>
				</div>
			</div>
		</div>
		<ion-infinite-scroll ng-if="moreBeacons" on-infinite="getBeaconChunk()"></ion-infinite-scroll>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" active-icon="ion-chevron-down" resting-icon="ion-navicon-round" toggling-method="click">
		<button mfb-button template-url="app/shared/floatButton/floatButton.html" bg="assertive-bg" icon="ion-document-text" ng-if="$state.current.name === 'app.beacons'" label="All beacons" ui-sref="app.beacons"></button>
		<button mfb-button template-url="app/shared/floatButton/floatButton.html" bg="assertive-bg" icon="ion-plus" label="Create beacon" ui-sref="beacon-create"></button>
		<button mfb-button template-url="app/shared/floatButton/floatButton.html" bg="energized-bg" icon="ion-radio-waves" label="Dashboard" ui-sref="app.dashboard({puserId: puserId})"></button>
		<button mfb-button template-url="app/shared/floatButton/floatButton.html" bg="positive-bg" icon="ion-person" label="Profile" ui-sref="app.profile"></button>
		<button mfb-button template-url="app/shared/floatButton/floatButton.html" bg="calm-bg" icon="ion-clipboard" label="FAQ" ui-sref="app.about"></button>
		<button mfb-button template-url="app/shared/floatButton/floatButton.html" bg="balanced-bg" icon="ion-help" label="Tutorial" ui-sref="tutorial"></button>
	</nav>
</ion-view>
